# Frontend
NEXT_PUBLIC_API_BASE=http://localhost:4000

# Database (used inside docker network)
POSTGRES_USER=wordle
POSTGRES_PASSWORD=wordle
POSTGRES_DB=wordle_wannabe_db
DATABASE_URL=postgresql://wordle:wordle@postgres:5432/wordle_wannabe_db
